{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}
{{#partial "content"}}
    <h1 class="header">WILDLIFE TRACKER</h1>
    <br>
    <br>
    <br>
    <form action="/view" method="post">
        <h2>Animal Sighting</h2>
        <div class="form-group">
            <label for="rangerName">Ranger's Name</label>
            <input type="text" id="rangerName" name="rangerName">
        </div>
        <hr>
        <p>Location of Sighting</p>
        <select name="sightingLocation" id="sightingLocation">
            <option value="Zone1">North</option>
            <option value="Zone2">South</option>
            <option value="Zone3">East</option>
            <option value="Zone4">West</option>
            <option value="Zone5">Central</option>
        </select>
        <hr>
        <div class="form-group">
            <label for="animalName">Animal Name</label>
            <input type="text" id="animalName" name="animalName">
        </div>
        <select name="animalAge" id="animalAge">
            <option value="newborn">Newborn</option>
            <option value="young">Young</option>
            <option value="adult">Adult</option>
        </select>
        <select name="animalHealth" id="animalHealth">
            <option value="weak">Weak</option>
            <option value="healthy">Healthy</option>
        </select>
        <select name="animalType" id="animalType">
            <option value="safe">Safe</option>
            <option value="endangered">Endangered</option>
        </select>
        <button type="submit" class="btn btn-success" id="button">Submit</button>
    </form>
{{/partial}}
{{> layout.hbs}}