{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}

{{#partial "content"}}

    <div class="page-header">

        <h1>WILDLIFE TRACKER</h1>
    </div>

    <div class="button-all">
        <a href="/form" class="btn btn-info">Record animal sighting</a>

    </div>

{{/partial}}
{{>layout.hbs}}